
{
  "swagger": "2.0",
  "info": {
    "description": "",    
    "version": "1.0",
    "title": "API QuoteManagement"
  },
  
  
  "host": "api.orange.com",
  "basePath":	"/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],  
  "paths": {   
    "/quote": {                  
      "post": {
        "tags": [
           "quote"
        ],            
        "operationId": "quoteCreate",
        "summary": "create",
        "description": "This operation is used to create a new quote (V1.0) or a new version of an existing quote (Vn.n n=> 1)",       
        "deprecated": false,
        "parameters": [
                            
                        
          {
           "name": "quote",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Quote"
            }
          }          
        ],
              
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Quote"
            }                                                  
          }
        }
      },
      "get": {
        "tags": [
           "quote"
        ],          
        "operationId": "quoteList",
        "summary": "find",
        "description": "This operation is used to retrieve quote information using filter criteria.  \nIf the version is not filled, by default only the most current version is returned.",       
        "deprecated": false,
          
        "parameters": [    
                                    
          
          {
            "name": "fields",
            
            "in": "query",
            "required": false,            
            "description": "For attribute selection",
            
            "type": "string"                      
          },
          {
            "name": "state",
            
            "in": "query",
            "required": false,            
            "description": "quote state",
            
            "type": "string"                      
          },
          {
            "name": "category",
            
            "in": "query",
            "required": false,            
            "description": "quote category",
            
            "type": "string"                      
          },
          {
            "name": "andSoOn...",
            
            "in": "query",
            "required": false,            
            "description": "cf specification",
            
            "type": "string"                      
          }
        ],      
        "responses": {
          "200": {
            "description": "Success",
            "schema": {          
              "type": "array",
              "items": {
                "$ref": "#/definitions/Quote"
              }
            }                                                  
          }
        }
      }
    },   
    "/quote/{quoteId}": {
      "get": {
        "tags": [
           "quote"
        ],    
        "operationId": "quotefindById",
        "summary": "findById",
        "description": "This operation is used to retrieve quote information using the ID. If the version is not filled, by default only the most current version is returned.",
        "deprecated": false,
              
        "parameters": [
                                    
              
          {
            "name": "quoteId",
            "in": "path",
            "required": true,            
            "type": "string"
          }
        ],      
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Quote"
            }                                                  
          }
        }   
      },           
      "patch": {
        "tags": [
           "quote"
        ],            
        "operationId": "quotePatch",
        "summary": "patch",
        "description": "This operation is used to modify quote and/or their items.  \nBy default PATCH will be acting only on the latest version of the Resource.",      
        "deprecated": false, 
        "parameters": [
                                    
              
          {
            "name": "quoteId",
            "in": "path",
            "required": true,            
            "type": "string"
          },       
          {
           "name": "quote",
           "in": "body",
           "required": true,
           "schema": {
             "$ref": "#/definitions/Quote"
           }
          }                               
        ], 
              
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Quote"
            }                                                  
          }
        }          
      }
    }
  },
"definitions": {
  

    "ValidFor": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        },
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
      }
    },

    "QuoteAuthorization": {
      
      "type": "object",
      "properties": {      
      
        "authorizationDate": {
          
          "type": "string",
          "format": "date-time"
        },
        "authorizationState": {
          
          "type": "string"
        },
        "authorizationSignatureRepresentation": {
          
          "type": "string"
        },
        "attachment": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Attachment"
              }
        }
      }
    },

    "Attachment": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "type": {
          
          "type": "string"
        }
      }
    },

    "QuoteProductOfferingPrice": {
      
      "type": "object",
      "properties": {      
      
        "priceType": {
          
          "type": "string"
        },
        "recurringChargePeriod": {
          
          "type": "string"
        },
        "priceCondition": {
          
          "type": "string"
        },
        "quotePriceAlteration": {
          
                "$ref": "#/definitions/QuotePriceAlteration"
        },
        "price": {
          
                "$ref": "#/definitions/Price"
        }
      }
    },

    "QuotePriceAlteration": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        },
        "description": {
          
          "type": "string"
        },
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
        }
      }
    },

    "Price": {
      
      "type": "object",
      "properties": {      
      
        "percentage": {
          
          "type": "integer",
          "format": "int32"
        }
      }
    },

    "QuoteItem": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "state": {
          
          "type": "string"
        },
        "attachment": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Attachment"
              }
        },
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
              }
        },
        "note": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Note"
              }
        },
        "productOffering": {
          
                "$ref": "#/definitions/ProductOffering"
        },
        "product": {
          
                "$ref": "#/definitions/Product"
        },
        "itemQuoteProductOfferingPrice": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/QuoteProductOfferingPrice"
              }
        }
      }
    },

    "ProductOffering": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "bundledProductOffering": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ProductOffering"
              }
        }
      }
    },

    "Product": {
      
      "type": "object",
      "properties": {      
      
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
              }
        },
        "productCharacteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Characteristic"
              }
        },
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "productRelationship": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ProductRelationship"
              }
        }
      }
    },

    "ProductRelationship": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string"
        },
        "product": {
          
                "$ref": "#/definitions/Product"
        }
      }
    },

    "Quote": {
      
      "type": "object",
      "properties": {      
      
        "billingAccount": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/BillingAccount"
              }
        },
        "state": {
          
          "type": "string",    
          "enum": [   
          
            "InProgress",
            "Pending",
            "Cancelled",
            "Approved",
            "Accepted",
            "Rejected"
          ]
  
        },
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "externalId": {
          
          "type": "string"
        },
        "description": {
          
          "type": "string"
        },
        "category": {
          
          "type": "string"
        },
        "version": {
          
          "type": "string"
        },
        "quoteDate": {
          
          "type": "string",
          "format": "date-time"
        },
        "effectiveQuoteCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        },
        "quoteCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        },
        "notificationContact": {
          
          "type": "string"
        },
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
        },
        "note": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Note"
              }
        },
        "characteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Characteristic"
              }
        },
        "customer": {
          
                "$ref": "#/definitions/Customer"
        },
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
              }
        },
        "agreement": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Agreement"
              }
        },
        "quoteProductOfferingPrice": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/QuoteProductOfferingPrice"
              }
        },
        "quoteItem": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/QuoteItem"
              }
        }
      }
    },

    "BillingAccount": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        }
      }
    },

    "Note": {
      
      "type": "object",
      "properties": {      
      
        "text": {
          
          "type": "string"
        },
        "date": {
          
          "type": "string",
          "format": "date-time"
        },
        "author": {
          
          "type": "string"
        }
      }
    },

    "Characteristic": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        },
        "value": {
          
          "type": "string"
        }
      }
    },

    "Customer": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "name": {
          
          "type": "string"
        }
      }
    },

    "RelatedParty": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "name": {
          
          "type": "string"
        },
        "role": {
          
          "type": "string"
        }
      }
    },

    "Agreement": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        },
        "href": {
          
          "type": "string"
        },
        "name": {
          
          "type": "string"
        }
      }
    }
  }
}
	